.learnSection {
  margin: 50px auto 50px auto;
  padding: 25px;
  max-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  min-width: 70%;
  max-width: 90%;
  transition-duration: 0.4s;
  border-radius: 30px;
  box-shadow: .5rem 1rem 1.8rem #888888;
}

.back-icon {
  width: auto;
  max-height: 27px;
  margin: 80px auto 0px auto;
}

.back-icon:hover {
  cursor: pointer;
}

.learnBack {
  width: 20%;
  margin: 0 auto;
}

.learnBack:hover {
  cursor: default;
}

/* tablets / laptops */
@media screen and (min-width: 768px) {
    .learnSection {
      min-width: 20%;
    }

    .back-icon {
      width: 20%;
    }
}