.hablaInfo {
    margin: 30px auto 25px auto;
    font-weight: bold;
    color: darkgrey;
  }

.globe {
    margin: 0px auto 0px auto;
    width: 100%;
    min-height: 300px;
    max-height: 700px;
}

.globe:focus {
    outline: none;
}

@media screen and (min-width: 768px) {
    .globe {
        height: 650px;
    }
}

@media screen and (min-height: 812px) {
    .hablaInfo {
        margin-top: 50px;
    }

    .globe {
        margin-top: 40px;
    }
}