.reg-form {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  width: 90%;
  margin: 20px auto 30px auto;
  padding: 30px;
  border-radius: 8px;
  background-color: #AA151B;
}

.reg-div{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 10%;
}

.reg-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-footer > a, button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.regInput {
  border: none;
  border-bottom: 3px solid white;
  padding: 8px;
  background-color: #AA151B;
}

.regLabel {
  font-weight: bold;
  color: white;
  /* width: ; */
}

.regButton {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: 12px;
}

.regButton:hover {
  background-color: #F1BF00;
  color: black;
}

.regLink {
  color: white;
  font-weight: bold;
  transition-duration: 0.4s;
}

.regLink:hover {
  color: #F1BF00;
  font-size: 18px;
}


/* tablets */
@media screen and (min-width: 768px) {
  .reg-form {
    width: 40%;
  }
}