.reg-form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 20px auto 30px auto;
  padding: 30px;
}

.reg-div{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px;
}

.reg-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-footer > a, button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.regInput {
  border: none;
  border-bottom: 3px solid black;
  padding: 8px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.regLabel {
  font-weight: bold;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.regButton {
  border: none;
  border-left: 2px solid black;
  padding: 10px;
  font-weight: bold;
  background-color: #AA151B;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
  font-size: 12px;
  margin: 10px auto 10px auto;
}

.regButton:hover {
  background-color: #F1BF00;
  color: black;
}

.regLink {
  color: black;
  font-weight: bold;
  transition-duration: 0.4s;
}

.regLink:hover {
  color: #AA151B;
}

/* tablets */
@media screen and (min-width: 768px) {
  .reg-form {
    min-width: 40%;
  }
}