.mainUL {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.mainUL > li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #000;

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    display: block;
    width: 200px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: default;
}

.mainUL > li:hover {
    font-size: 30px;
    background: #f6f6f6;
}

.dashPara {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 18px;
}

.dashH2 {
    margin: 70px auto 20px auto;
}

.startPracticeLink {
    color: white;
    font-weight: bold;
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    max-width: 30%;
    margin: 0px auto 20px auto;
    padding: 8px;
    background-color: #AA151B;
    transition-duration: 0.4s;
}

.startPracticeLink:hover {
    background-color: #F1BF00;
    color: black;
}

.wordPara {
    font-size: 16px;
}

.dashH3 {
    margin-top: 10px;
    font-weight: normal;
}

/* tablets */
@media screen and (min-width: 768px) {
    .mainUL {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        justify-content: center;
    }

    .mainUL > li {
        margin-left: 30px;
        margin-right: 30px;
        padding: 15px;
    }
  }