.learnH2 {
    text-align: center;
    color: black;
}

.learnSpan {
    text-align: center;
    font-weight: bold;
    color: #AA151B;
}

.learnForm {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

#learn-guess-input {
    border: none;
    border-bottom: 3px solid black;
    padding: 6px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 16px;
}

.learnForm > button {
    align-self: center;
    padding: 10px;
    border: none;
    border-left: 2px solid black;
    background-color: #AA151B;
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.learnForm > button:hover {
    background-color: #F1BF00;
    color: black;
  }

.learnForm > label {
    font-weight: bold;
    color: black;
}

.correctPara {
    margin-top: 10px;
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.incorrectPara {
    margin-top: 10px;
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.learnButton {
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.learnButton:hover {
    background-color: #F1BF00;
    color: black;
}

.displayFeedback {
    font-weight: bold;
    padding: 4px;
    color: black;
}

.displayScore {
    color: black;
}

.learnH2Render {
    color: black;
    margin-top: 70px;
}

.totalPara {
    color: black;
}

.correctPara {
    margin-top: 50px;
}

#learn-guess-input {
    margin-top: 20px;
}

/* .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
   */