/* .learnH2 {
    text-align: center;
    color: white;
} */

.learnH2 {
    text-align: center;
    color: black;
}

/* .learnSpan {
    text-align: center;
    font-weight: bold;
    color: white;
} */

.learnSpan {
    text-align: center;
    font-weight: bold;
    color: black;
}

.learnForm {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

/* #learn-guess-input {
    border: none;
    border-bottom: 3px solid black;
    padding: 6px;
    font-weight: bold;
    text-align: center;
    background-color: #AA151B;
    color: white;
    font-size: 16px;
} */

#learn-guess-input {
    border: none;
    border-bottom: 3px solid black;
    padding: 6px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 16px;
}

.learnForm > button {
    align-self: center;
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.learnForm > button:hover {
    background-color: #F1BF00;
    color: black;
  }

/* .learnForm > label {
    font-weight: bold;
    color: white;
} */

.learnForm > label {
    font-weight: bold;
    color: black;
}

/* .correctPara {
    margin-top: 10px;
    font-weight: bold;
    color: white;
} */

.correctPara {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

/* .incorrectPara {
    margin-top: 10px;
    font-weight: bold;
    color: white;
} */

.incorrectPara {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

.learnButton {
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.learnButton:hover {
    background-color: #F1BF00;
    color: black;
}

/* .displayFeedback {
    font-weight: bold;
    padding: 4px;
    color: white;
} */

.displayFeedback {
    font-weight: bold;
    padding: 4px;
    color: black;
}

/* .displayScore {
    color: white;
} */

.displayScore {
    color: black;
}

/* .learnH2Render {
    color: white;
    margin-top: 70px;
} */

.learnH2Render {
    color: black;
    margin-top: 70px;
}

/* .totalPara {
    color: white;
} */

.totalPara {
    color: black;
}

.correctPara {
    margin-top: 50px;
}

#learn-guess-input {
    margin-top: 20px;
}