.learnH2 {
    text-align: center;
    color: black;
    margin-top: 1rem;
}

.learnSpan {
    text-align: center;
    font-weight: bold;
    color: #AA151B;
}

.learnForm {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

#learn-guess-input {
    border: none;
    border-bottom: 3px solid black;
    padding: 6px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 16px;
}

#learn-guess-input:focus {
    outline: 0;
}

.learnForm > button {
    align-self: center;
    padding: 10px;
    border: none;
    border-left: 2px solid black;
    background-color: #AA151B;
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.learnForm > button:hover {
    background-color: #F1BF00;
    color: black;
  }

.learnForm > label {
    font-weight: bold;
    color: black;
}

.correctPara {
    margin-top: 10px;
    color: black;
    font-size: 14px;
}

.incorrectPara {
    margin-top: 10px;
    color: black;
    font-size: 14px;
}

.learnButton {
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.learnButton:hover {
    background-color: #F1BF00;
    color: black;
}

.displayFeedback {
    font-weight: bold;
    padding: 4px;
    color: black;
}

.displayScore {
    color: black;
}

.learnH2Render {
    color: black;
    margin-top: 70px;
}

.totalPara {
    font-weight: bold;
    color: black;
    margin-top: 4.5rem;
}

.correctPara, .incorrectPara {
    margin-top: 30px;
}

#learn-guess-input {
    margin-top: 20px;
}

.incorrectPara, .correctPara {
    width: 70%;
}

.scoreButton {
    margin-top: 6rem;
}

.wordButton {
    margin-top: 5.5rem;
}

.wordButton, .scoreButton {
    padding: 10px;
    border: none;
    border-radius: 0.4rem;
    background-color: #AA151B;
    color: white;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}

.wordButton, .scoreButton:focus {
    outline: 0;
}

@media screen and (min-width: 768px) {
    .scoreButton {
        margin-top: 7rem;
    }

    .wordButton {
        margin-top: 6.2rem;
    }
}